VITE_SUPABASE_URL=https://lgstyjrjerfuuxxltjfp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxnc3R5anJqZXJmdXV4eGx0amZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTAwMTIsImV4cCI6MjA4NzQ2NjAxMn0.MMPUp0lNZMfFab8EmO3BRqJU9yQOGBVVl6swBk6uH-4
